@use '@styles/mixins' as m;

.container {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;

  .header, .footer {
    @include m.placeholder;
  }

  .main {
    @include m.flex-center;
    flex: 1;
  }

  .title {
    @include m.visually-hidden;
  }

  .footer {
    margin-top: auto;
  }
}