:root {
  --font-euclid: 'Euclid Flex', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --weight-medium: 400;
  --weight-bold: 700;
  --color-primary: white;
  --color-secondary: #131921;
  --color-tertiary: #818181;
  --color-quaternary: #e9e9e9;
  --color-highlight: #ff4338;
}